/* makes sizing simpler */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Outfit','Cairo', sans-serif;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
    margin: 0;
    padding: 0;
}

/* min body height */

body {
    min-height: 100vh;
    font-size: var(--mid-font);
}

/* responsive images/videos */
img,
picture,
svg,
video {
    max-width: fit-content;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
svg{
    width: calc(var(--mid-font) + 10px);
}

:root{
    --text-main-clr : rgb(0, 0, 0);               /* black*/
    --text-sec-clr: rgb(120, 120, 120);          /* gray */
    --main-background-clr: rgb(255, 255, 255);   /* white */
    --sec-background-clr: rgb(246, 246, 246);    /* dark gray */
    --action-clr: rgb(98, 154, 65);              /* Green */
    --driver-clr: rgb(254, 240, 235);            /* red */
    --big-font:30px;
    --mid-font: 36px;
    --action-font:20px;
    --sm-font: 15px;
    --regular-font:400;
    --bold-font:700;
}
.main-btn{
    font-size: var(--sm-font);
    color: var(--action-clr);
    text-decoration: none;
}
.sec-btn{
    font-size: var(--sm-font);
    color: var(--text-main-clr);
    text-decoration: underline;
}
.postion-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1.5px solid var(--sec-background-clr);
    /* box-shadow: -1px -6px 25px 0px rgb(0 0 0 / 15%); */
    background-color: var(--main-background-clr);
    z-index: 10;
}
.logo{
    font-size: var(--big-font);
    display: flex;
    position: relative;
}
.logo span{
    color: var(--action-clr);
}
.logo-sub-manu span{
    width: 50%;
}
.logo-sub-manu{
    width: 150px;
    height: 75px;
    background-color: rgba(221, 221, 221, 0.1);
    position: absolute;
    top: 100%;
    left: 100%;
    transform:translate(-50%, -50%) rotatex(90deg);
    border: 1px solid var(--sec-background-clr);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    align-items: center;
    z-index: -1;
    animation-direction: alternate;

}
.logo:hover .logo-sub-manu,.logo-sub-manu:hover{
    animation: drop-down 2s ease 200ms ;
    animation-fill-mode: both;
    animation-direction: alternate;



}
@keyframes drop-down {
    0%{
        transform: translate(-50%, -50%) rotatex(90deg);
    }
    100%{        
        transform: translate(-50%, 0px) rotatex(0deg);
            }
    
}
.arrow{
    width: 0px;
    height: 0px;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-top: 3px solid var(--text-sec-clr);
    border-bottom: 3px solid transparent;

}
.down{
    margin-top: 10px;
    margin-left: 5px;
}
ul{
    display: flex;
    width: 30%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    display: flex;
    width: 30%;
    flex-direction: row;
    align-items: center;
    position: relative;
    align-content: center;
    justify-content: flex-end;
    
}
nav ul li{
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 2px ;
    padding-left: 8px;
    border-left: 1px solid var(--sec-background-clr);
    font-size: var(--sm-font);
    align-content: center;
    
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 2px;
    padding-left: 8px;
    border-left: 1px solid var(--sec-background-clr);
    font-size: var(--sm-font);
    align-content: center;
    justify-content: center;
    max-width: fit-content;
    padding: 5px 18px;
    min-width: 74px;

}
nav ul li:first-child{
    border-left: 1px solid transparent;
    

}
nav svg{
    fill: var(--action-clr);
    width: 35px;
    height: 35px;
}
nav .user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    font-size: calc(var(--sm-font) + 5px);
    color: var(--main-background-clr);
}
nav .active::after{   
    content: " ";
    position: absolute;
    top: 59%;
    right: -5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--main-background-clr);
    background-color: var(--action-clr);
}

nav .active{
    background-color: var(--text-sec-clr);
}
.profile{
    background-color: var(--action-clr);
}
.body-container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    padding: 5px;
}
/* text body start */
.text-container{
    width: 48%;
    border: 2px solid black;
    height: 100vh;
}
/* header of text body */
.text-container-head{
    height: 12%;
}
.contact-name{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}
.contact-name span{
    font-size: var(--mid-font);
    color: var(--text-main-clr);
}
.contact-type{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin-left: 15px;
}
.contact-type span{
    font-size: var(--sm-font);
    color: var(--text-main-clr);
}
.text-tags{
    display: flex;
    font-size: var(--sm-font);
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.text-tags span{
    width: fit-content;
    display: inline-flex;
    background-color: var(--sec-background-clr);
    margin: auto 5px;
    justify-content: center;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.text-container-body{
    height: 50%;
}
.text-tags svg{
    margin-right:5px ;
}
.ticket-status ,.ticket-status svg{
    color: blue;
    fill: blue;
}
.text-messaging{
    display: flex;
    flex-wrap: wrap;
    height: 35%;
}
.action-bar{
    background-color: var(--sec-background-clr);
    height: 70px;
    font-size: var(--action-font);
    text-transform: uppercase;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-sec-clr);
}
.built-in-buttons{
    height: 72%;
    width: 75%;
    overflow: hidden;
    scroll-behavior: unset;
}
.built-in-buttons button {
    margin-bottom: 1000px;
}
.action-bar button{
    background-color: inherit;
    border: 1px solid rgb(120 120 120 / 20%);
    display: inline-block;
    font-size: var(--action-font);
    padding: 10px;
    margin: 2px;
    border-radius: 1%;
    text-transform: uppercase;
    color: var(--text-sec-clr);
    box-shadow: 0px 0px 1px 1px rgb(120 120 120 / 58%);

}
.action-bar-search{
    position: absolute;
    right: 20px;
}
.action-bar button:hover{
    cursor: pointer;
    color: var(--action-clr);
}
.action-bar button:active , .action-bar button:focus{
    border: 1px solid rgb(120 120 120 / 88%);
}
.action-bar p{
    font-size: var(--action-font);
    display: inline-block;
    margin-left: 10px;
}
.action-bar div{
    display: inline-block;
}
.massageing-container{
    width: 100%;
    border: 1px solid red;
    height:90%;
    position: relative;
    
}
.massageing-container textarea{
    width: 100%;
    height: 100%;
    resize: none;
}

.ticket-status-buttons{
    width: 250px;
    height: 40px;
    background-color: brown;
    position: absolute;
    bottom:10px;
    right:10px;
    padding: 0px;
    display: flex;
}
.ticket-status-buttons button{
    width: 25%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 1px solid var(--sec-background-clr);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    border-radius: 50%;
    border:2px solid #6c6c6c;
    width: 30%;
    height: 50%;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.ticket-status-buttons button svg{
    fill: #fff;
    width: 70%;
    height: 70%;
}
.ticket-status-buttons button:first-child{
    background-color: var(--sec-background-clr);
}
.ticket-status-buttons button:last-child{
    background-color: var(--action-clr);
}
.ticket-status-buttons button:last-child .circle ,.ticket-status-buttons button:first-child .circle{
    border:2px solid #fff;
}
.dot{
    width: 2px;
    height: 2px;
    background-color: #6c6c6c;
    margin-right:1px ;
    margin-left: 1px;
    border-radius: 50%;
}